#group{
    /* Sizing */
    width: 100%;
    /* Spacing */
    margin: 0.5rem;
    padding: 0.5rem;
    /* Background & Border */
    background-color: #048a81;
    border-radius: 1rem;
    /* Misc */
    list-style-type: none;
}

.group-header form input{
    width: 13rem;
}
.group-name{
    width: 100%;
    margin: 0 0 0.5rem 0;
    background-color: hsla(0,0%,100%,0.25);
}
#group ul{
    margin-left: 0;
    padding: 0;
    list-style-type: none;
}
#form-new-item{
    width: 100%;
    display: flex;
}
#form-new-item input{
    padding-left: 1rem;
}