#group{
    /* Sizing */
    width: 15rem;
    /* Spacing */
    margin: 1rem;
    padding: 1rem;
    /* Background & Border */
    border: 0.25rem solid black;
    /* Misc */
    list-style-type: none;
}

.group-header form input{
    width: 13rem;
}
.group-name{
    width: 100%;
}
#group ul{
    margin-left: 1rem;
    padding: 0;
    list-style-type: none;
}
