#header{
    /* Display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* Spacing */
    padding: 1rem;
    /* Background & Border */
    background-color: var(--dark);
}
#header h1{
    font-weight: 700;
    font-size: 1.5;
}
#header-user-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.header-dropdown{
    display: flex;
    flex-direction: column;
    position: relative;
}
.dropdown-item span{
    background-color: var(--dark);
    border-radius: 1rem;
    padding: 0.25rem;
}
#header span{
    font-weight: 700;
    font-size: 1.2rem;
}
.dropdown-item span{
    position: absolute;
}
.dropdown-item.right span{
    position: absolute;
    right: 0;
}
.dropdown-item.left span{
    position: absolute;
}